# Project 3: Movie Recommendations

In [3]:
import numpy as np
import pandas as pd

In [8]:
!pwd

/Users/zubairlalani/Code/CS598PSL/movie-recommender

## Importing Data

Setting up variables for that hold the paths to the various data files. The data files don't have a header row, so explicitly defining the column names based on the README file that came with the data.

In [31]:
PARENT_DIR = "data/ml-1m/"
ratings_path = PARENT_DIR + "ratings.dat"
movies_path = PARENT_DIR + "movies.dat"
users_path = PARENT_DIR + "users.dat"

ratings_col_names = ["UserID", "MovieID", "Rating", "Timestamp"]
movies_col_names = ["MovieID", "Title", "Genres"]
users_col_names = ["UserID", "Gender", "Age", "Occupation", "Zip-code"]

Import the data using pandas into separate data frames.

In [33]:
# setting engine to python to avoid a warning when using regex delimiter
# change encoding to fix error that was occurring due to certain characters in movie titles not having utf-8 encoding such as
# the letter é
ratings_df = pd.read_csv(ratings_path, sep="::", engine='python', names=ratings_col_names)
movies_df = pd.read_csv(movies_path, sep="::", engine='python', encoding='ISO-8859-1', names=movies_col_names)
users_df = pd.read_csv(users_path, sep="::", engine='python')

Do a quick santiy check to see if the data was loaded correctly

In [34]:
ratings_df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [35]:
movies_df.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [36]:
users_df.head()

   1  F  1.1  10  48067
0  2  M   56  16  70072
1  3  M   25  15  55117
2  4  M   45   7  02460
3  5  M   25  20  55455
4  6  F   50   9  55117

## Preprocessing

In [37]:
# TODO: May need to do some joins and stuff on the data here. Not sure yet what is required for the following parts.

## Part A

## Part B

### 1. 

Create the rating matrix by R, where the rows correspond to users and the columns
to movies. Normalize R by centering each row, i.e. subtract the row means from
each row of the matrix. The matrix is sparse, so the row means should be computed
based on the non-NA entries.

### 2
Compute the cosine similarity for all the movies. You can ignore similarities computed based on less than 3 user ratings. You can also use the (1 + cos)/2 transformation to ensure than the similarity will be between 0 and 1. Keep in mind that
you may have NAs when a pair off movies (for example) has been rated by 0, 1, or
2 users, or when the denominator in the similarity metric is zero.

### 3.
For the similarity matrix in (2), sort the non-NA similarity measures and keep the
top 30, setting the rest to NA. Display the pairwise similarity values for this new
matrix for the following movies:
• “Toy Story (1995)”
• “GoldenEye (1995)”
• “Liar Liar (1997)”
• “Lost World: Jurassic Park (1997)”
• “Sixth Sense, The (1999)”

### 4.
Write your own IBCF function:

• Input: newuser, i.e. a vector containing ratings for all the movies.
Many of the entries will be NA, while the non-NA values should be ratings 1, 2,
3, 4, 5 - the star ratings.

• Output: The top 10 movies recommendation for this new user.
If fewer than 10 predictions are non-NA, select the remaining movies based on
the popularity defined in part (A), prioritizing the most popular ones and excluding those already rated by the user. Here, you may want to save the ranking
of all movies (based on popularity) in a separate file to avoid recomputing the
ranking each time.

• The function you write should load the similarity matrix and use it to compute
predictions for movies that have not been rated by the new user yet, using the
formula from the notes/slides.

### 5.

Test your function by displaying the top 10 recommendations for the following two
users:

• User in row 1500 from the rating matrix.

• A hypothetical user who rates movie “Star Wars: Episode IV - A New Hope
(1977)” with 5 stars and movie “Independence Day (ID4) (1996)” with 4 stars.